
.btn-circle{
  -webkit-animation-name: pulse;
  /*-moz-animation-name: pulse;*/

  -webkit-animation-duration: 1.5s;
  /*-moz-animation-duration: 1.5s;*/

  -webkit-animation-iteration-count: infinite;
  /*-moz-animation-iteration-count: infinite;*/

  -webkit-animation-timing-function:  linear;
  /*-moz-animation-timing-function:  linear;*/
}

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/*bar animation*/
@-moz-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes photoshop {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
