
.btn-circle{
  -webkit-animation-name: pulse;
  /*-moz-animation-name: pulse;*/

  -webkit-animation-duration: 1.5s;
  /*-moz-animation-duration: 1.5s;*/

  -webkit-animation-iteration-count: infinite;
  /*-moz-animation-iteration-count: infinite;*/

  -webkit-animation-timing-function:  linear;
  /*-moz-animation-timing-function:  linear;*/
}

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

/*bar animation*/
/*@-moz-keyframes Java {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes Cpplus {
  0%   { width: 0px;  }
  100% { width: 10%;  }
}
@-moz-keyframes HtmlCss{
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-moz-keyframes Javas {
  0%   { width: 0px;  }
  100% { width: 20%;  }
}
@-moz-keyframes Labview {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes Photoshop {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes Illustrator {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes Java {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes Cpplus {
  0%   { width: 0px;  }
  100% { width: 10%;  }
}
@-webkit-keyframes HtmlCss{
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes Javas {
  0%   { width: 0px;  }
  100% { width: 20%;  }
}
@-webkit-keyframes Labview {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes Photoshop {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes Illustrator {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}*/
