
/* ==================================================================

TOC :

1. screenwidth less than 1024px (Medium Screen/Large Tablets)
2. screenwidth less than 900px (Tablets)
3. screenwidth less than 767px (Mobile wide/Smaller Tablets)
4. screenwidth less than 480px (Small Screen Mobile)


/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (min-width : 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }

  .abstract-container p{
    width: 80%;
    margin: auto;
    padding: 10px 0px 20px 0px;
  }

  /*intro*/
  .intro .intro-body .welcome-heading {
    font-size: 80px;
  }
  .intro .intro-body .intro-text {
    /*TODO: fix responsive!!!*/
    font-size: 26px;
  }

  ul.banner-social-buttons {
    margin-top: 15px;
  }
  .Res-font-size{
    font-size: 14px;
  }

  /*cards*/
  .card-pic-crop{
    width: 300px;
    height: 300px;
  }
  .card-des-title{
    font-weight: 300;
    font-size: 14px;
    height: 40px; /*height = 140px - 100px */
    padding: 10px 0;
  }
  .card-des-explain p{
    font-size: 12px;
  }
  .card-container .card .card-pic .card-description {
    height: 140px;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
    padding: 0px 20px;
  }
  .card{
    margin-top: 40px;
  }

  /*card list filter*/
  .filter.listStyleUnderline li {
    width: 13em;
    margin: 10px 0px;
  }
  .listStyleUnderline li a {
    font-size: 1.2em;
    padding: 5px 0px;
    letter-spacing: 3px;
  }
}

/*todo: defined based on length of menu bar*/
@media screen and (max-width: 940px) {
  /*Hide side nav sidebar*/
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
  /* General style */
  .abstract-container p{
    width: 100%;
    margin: auto;
    padding: 10px 0px 20px 0px;
  }

  .listStyleUnderline li a{
    letter-spacing: 2px;
  }

  /*cards*/
  .card-pic-crop{
    width: 40vw;
    height: 40vw;
  }
  .card-des-title{
    font-weight: 300;
    font-size: 12px;
    height: 30px; /*height = 120px - 90px */
    padding: 9px 0;
  }
  .card-des-explain p{
    font-size: 10px;
  }
  .card-container .card .card-pic .card-description {
    height: 120px;
    -webkit-transform: translate3d(0, 90px, 0);
    transform: translate3d(0, 90px, 0);
    padding: 0px 10px;
  }
  .card{
    margin-top: 30px;
  }

  /*card list filter*/
  .filter.listStyleUnderline li {
    width: 10em;
    margin: 5px 0px;
  }
  .listStyleUnderline li a {
    font-size: 1em;
    padding: 5px 0px;
    letter-spacing:2.5px;
  }

}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {
  /* General style */
  .abstract-container p{
    width: 90%;
    margin: auto;
    padding: 10px 0px 20px 0px;
  }

  /**/
  .leftside{
    float: none;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  }
  .rightside{
    float: none;
    width: 80%;
    margin-left: 10%;
  }
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
  .Res-font-size{
    display: inline-block;
    margin-top: -10px;
    width: 7em;
    font-size: 10px;
  }

  #ThanksMessage{
    height:55px;
  }
  #ERRORMessage{
    height:55px;
  }

  /*cards*/
  .card-pic-crop{
    width: 40vw;
    height: 40vw;
  }
  .card-des-title{
    font-weight: 300;
    font-size: 12px;
    height: 20px; /*height = 100px - 80px */
    padding: 5px 0;
  }
  .card-des-explain p{
    font-size: 10px;
  }
  .card-container .card .card-pic .card-description {
    height: 100px;
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    padding: 0px 5px;
  }
  .card{
    margin-top: 30px;
  }
  /*card list filter*/
  .filter.listStyleUnderline li {
    width: 9em;
    margin: 5px 0px;
  }
  .listStyleUnderline li a {
    font-size: 0.9em;
    padding: 5px 0px;
    letter-spacing: 2px;
  }

}

/* mobile narrow
-------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {

  /* General style */
  .abstract-container p{
    width: 90%;
    margin: auto;
    padding: 10px 0px 20px 0px;
    font-size: medium;
  }


  /*cards*/
  .card-pic-crop{
    width: 40vw;
    height: 40vw;
  }
  .card-des-title{
    font-weight: 300;
    font-size: 10px;
    height: 20px; /*height = 100px - 80px */
    padding: 5px 0;
  }
  .card-des-explain p{
    font-size: 8px;
  }
  .card-container .card .card-pic .card-description {
    height: 100px;
    -webkit-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    padding: 0px 5px;
  }
  .card{
    margin-top: 20px;
  }
  /*card list filter*/
  .filter.listStyleUnderline li {
    /*display:inline-block;*/
    width: 8em;
    margin: 5px 0px;
  }
  .listStyleUnderline li a {
    font-size: 0.85em;
    padding: 3px 0px;
    letter-spacing: 1px;
  }

  .container{
    margin: auto;
  }
}
