/* ==============================
-  BTN
============================== */
.btn {
  text-transform: uppercase;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 400;
  font-family: 'Alegreya', serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}

/* ==============================
-  Header Animations
============================== */
.header-col {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Alegreya', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 40px;
  padding: 10px;
  margin-top: -30px;
  margin-bottom: 0px;
}
.header-anim:after{
  display:block;
  height:4px;
  background-color:#0e878b;
  content:" ";
  width:100px;
  margin:0 auto;
  margin-top:10px;
  -webkit-transition: width 1.3s; /* Safari */
  transition: width 1.3s;
}
.header-anim:hover:after{
  width:200px;
}



/* ==============================
-  Header abstract style
============================== */

.abstract-container{
  margin: auto;
  padding: 10px 0px;
}


.abstract-container h2{
  font-weight: 600;
  font-size:16px;
  letter-spacing:3px;
  margin-top:-5px;
}

.abstract-container h2 span{
  padding: 2px 2px;
  border-bottom:1px
  solid #11ABB0;
}

.abstract-container p span{
  font-weight: 600;
}
