
/* ==============================
-  About Section
============================== */
#about{
    /*background: url(../Resources/intro.svg);*/
    background-position: center;
    background-size: cover;
    min-height:100vh;
    padding-bottom: 50px;
}

.cropCircle{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    overflow: hidden;
}
#profilephoto{
    display: inline-block;
    margin-bottom: 30px;
}
.borderCircle{
    height: 260px;
    width: 260px;
    border-radius: 130px;
    border: 5px solid white;
}
.borCircle{
    height: 270px;
    width: 270px;
    position: absolute;
    margin-top: -260px;
    margin-left: -10px;
    border-radius: 135px;
    border: 5px solid transparent;
    transform: rotate(30deg);
    border-top-color: #42DCA3;
    border-bottom-color: #42DCA3;
    animation: slowspin 5s linear infinite;
}
.borCircle1{
    height: 280px;
    width: 280px;
    position: absolute;
    margin-top: -265px;
    margin-left: -15px;
    border-radius: 140px;
    border: 4px solid transparent;
    transform: rotate(230deg);
    border-top-color: #42DCA3;
    border-bottom-color: #42DCA3;
    animation: slowspin2 4s linear infinite;
}
.selfDesc{
    letter-spacing: 2px;
    font-weight: 300;
    display: inline-block;
    margin: 20px;
    margin-top: 0px;
    text-align:left;
    font-size:15px;
    padding: 10px 5px 10px 35px;
    border: 5px solid #42DCA3;
    /*border-image: url(../Resources/bar.JPG) 5 round;*/
}
.selfDesc strong{
    font-size:18px;
    transition: all 0.5s ease;
    color: #11ABB0;
    font-weight: 500;
}
.selfDesc li:before {
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.8em; /* same as padding-left set on li */
    margin-right: 0.5em;
    width: 1.3em; /* same as padding-left set on li */
}
.hoveranim:hover strong{
    color: #ed5655;
}
.hoveranim:hover li:before{
    animation: rlshift 0.5s linear infinite;
}
@keyframes rlshift{
    0%{
        -ms-transform: translate(0em,0em); /* IE 9 */
        -webkit-transform: translate(0em,0em); /* Safari */
        transform: translate(0em,0em);
    }
    90%{
        -ms-transform: translate(0.5em,0em); /* IE 9 */
        -webkit-transform: translate(0.5em,0em); /* Safari */
        transform: translate(0.5em,0em);
    }
    100%{
        -ms-transform: translate(0em,0em); /* IE 9 */
        -webkit-transform: translate(0em,0em); /* Safari */
        transform: translate(0em,0em);
    }
}
.selfDesc li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.buttoncus{
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: white;
    font-size:20px;
    font-weight: 500;
    text-transform: uppercase;
}
.buttoncus:hover{
    color: white;
    font-size:20px;
    font-weight: 500;
    text-decoration: none;
}

@keyframes slowspin{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(75deg);
    }
    100%{
        transform: rotate(390deg);
    }
}
@keyframes slowspin2{
    0%{
        transform: rotate(230deg);
    }
    50%{
        transform: rotate(275deg);
    }
    100%{
        transform: rotate(590deg);
    }
}

