
/* ==============================
-  Resume Section
============================== */
#resume {
    background: white;
    overflow: hidden;
    padding-bottom: 72px;
    padding-top: 90px;
}
.container-res{
    max-width: 800px;
}

#resume h3,
#resume h4,
#resume p
{
    text-align: left;
}

#resume h1 {
    color: #666;
    margin-bottom: 60px;
    letter-spacing: 1px;
    border-color: #11ABB0;
    width: 400px;
}
/*#resume h1:hover {
border-color:  #ed5565;
}*/

#resume h2 {
    font: 700 18px/24px "Open Sans",sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#resume h2 span{
    width: auto;
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}
#resume h3 {
    font: 25px/30px 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
}


#resume .main-col {
    margin-right: 10%;
}

.education{
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
    display: grid;
}

#resume .details {
    font: 16px/24px 'Raleway', serif;
    font-style: italic;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}
#resume .main-col span {
    margin-right: 5px;
    margin-left: 5px;
}
#resume .date {
    font: 15px/24px 'opensans-regular', sans-serif;
    margin-top: 6px;
}

/*lifestone*/
.leftside{
    float: left;
    width: 20%;
}
.rightside{
    float: right;
    width: 70%;
}
.lifestone {
    margin: 15px auto;
    position: relative;
    max-width: 100%;
}
.linebf:before {
    background: #11ABB0;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 32px;
    width: 2px;
    height: 100%;

    /*transition: background-color 0.5s ease;*/
}
.linebflihuili:before{
    background: #11ABB0;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 32px;
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(red, #11ABB0,#11ABB0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, #11ABB0,#11ABB0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, #11ABB0,#11ABB0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, #11ABB0,#11ABB0); /* Standard syntax */
}
.linebfloyola:before{
    background: #11ABB0;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 32px;
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient( #11ABB0,red,#11ABB0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #11ABB0,red,#11ABB0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #11ABB0,red,#11ABB0); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #11ABB0,red,#11ABB0); /* Standard syntax */
}
.linebfuw:before{
    background: #11ABB0;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 32px;
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient( #11ABB0,#11ABB0,red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #11ABB0,#11ABB0,red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #11ABB0,#11ABB0,red); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #11ABB0,#11ABB0,red); /* Standard syntax */
}
.lifestone-event {
    list-style:none;
    position: relative;
    padding: 0;
}
.lifestone-event:hover .lifestoneKnotZoomEffect {
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -webkit-transform:scale(1,1);
    transform: scale(1,1);
    background-color: #ed5565;
}
/**/


.lifestoneKnot2 {
    margin: 16px 8px 8px -16px;
    position: absolute;
    border-radius: 8px;
    background: #11ABB0;
    width: 16px;
    height: 16px;
    /*display: inline-block;*/
}

.lifestone-event:hover .lifestoneKnot2:after,
.lifestone-event:hover .lifestoneKnot2:before{
    content: '';
    display: block;
    width: 22px;
    position: absolute;
    margin: -3px 0 0 -3px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: orangered;
    border-bottom-color: orangered;
    animation: spinny 1s linear infinite;
}

@keyframes spinny{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(45deg) scale(1.2);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}
/**/
.lifestone-event h3{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.lifestone-event:hover  h3{
    color: #ed5565;
}

.lifestone-event-info {
    padding: 32px 0 0 32px;
    position: relative;
    top: -32px;
    width: 80%;
}

.lifestone-event-info h3 {
    margin-top: 0;
    font-size: 28px;
}
.lifestone-event-info h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Alegreya', serif;
}
.lifestone-event-info strong {
    font-weight: 700;
}
.lifestone-event-info p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 20px;
}

.lifestoneKnotZoomEffect {
    -moz-transition: -moz-transform 1s ease-in;
    -o-transition: -o-transform 1s ease-in;
    -webkit-transition: -webkit-transform 1s ease-in;
    transition: transform 0.5s ease-in;
    -moz-transform: scale(2,2);
    -ms-transform: scale(2,2);
    -webkit-transform: scale(2,2);
    transform: scale(2,2);
}

.lifestone-event-block {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 15px;
}
.barMouseDetectArea{
    padding: 15px 0;
}
.lifestone-event:hover .gradient-effect{
    -moz-box-shadow: inset 40em 0 0 0 #ed5565;
    -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
    box-shadow: inset 40em 0 0 0 #ed5565;
}
.barMouseDetectArea:hover .gradient-effect{
    -moz-box-shadow: inset 40em 0 0 0 #ed5565;
    -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
    box-shadow: inset 40em 0 0 0 #ed5565;
}
.gradient-effect{
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;

    -moz-box-shadow: inset 0 0 0 0em #CCC;
    -webkit-box-shadow: inset 0 0 0 0em #CCC ;
    box-shadow: inset 0 0 0 0em #CCC ;
    background: none repeat scroll 0 0 #11ABB0 ;
    box-shadow: 0 0 0 0 #CCC inset;
}
.buttoncus:hover.gradient-effect{
    -moz-box-shadow: inset 40em 0 0 0 #ed5565;
    -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
    box-shadow: inset 40em 0 0 0 #ed5565;
}
.lifestone-event-underline {
    width:100%;
    height: 4px;
}
.eventTitle{
    color: #373737;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: auto;
    margin: 10px 0;
}

