
/* ==============================
-  Skill Section
============================== */
.barstyle {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}
.barstyle .skills {
    margin-top: 36px;
    padding: 0;
    list-style: none;
}
.barstyle li {
    position: relative;
    background: #bdc3c7;
    height: 38px;
    border-radius: 3px;
    overflow: hidden;
}
.barstyle li em {
    color: #fff;
    font: 15px/38px "Open Sans",sans-serif;
    letter-spacing: 2px;
    padding-left: 20px;
    position: relative;
    text-transform: uppercase;
}
.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 24px;
    display: inline-block;
    height: 38px;
    line-height: 42px;
    border-radius: 3px;
    margin:0;
}

/*bar detail styles*/
.Java {
    background: #1abc9c;
    width: 90%;
    -moz-animation: Java 2s ease;
    -webkit-animation: Java 2s ease;
}
.Cpplus {
    background: #1abc9c;
    width: 30%;
    -moz-animation: Cpplus 2s ease;
    -webkit-animation: Cpplus 2s ease;
}
.HtmlCss {
    background: #1abc9c;
    width: 70%;
    -moz-animation: HtmlCss 2s ease;
    -webkit-animation: HtmlCss 2s ease;
}
.Javas {
    background: #1abc9c;
    width: 30%;
    -moz-animation: Javas 2s ease;
    -webkit-animation: Javas 2s ease;
}
.Labview {
    background: #1abc9c;
    width: 80%;
    -moz-animation: Labview 2s ease;
    -webkit-animation: Labview 2s ease;
}
.Photoshop {
    background: #a9709d;
    width: 50%;
    -moz-animation: Photoshop 2s ease;
    -webkit-animation: Photoshop 2s ease;
}
.Illustrator {
    background: #a9709d;
    width: 50%;
    -moz-animation: Illustrator 2s ease;
    -webkit-animation: Illustrator 2s ease;
}
.Arduino {
    background: #1abc9c;
    width: 50%;
    -moz-animation: Illustrator 2s ease;
    -webkit-animation: Illustrator 2s ease;
}
.SolidWorks {
    background: #3e9eda;
    width: 70%;
    -moz-animation: Illustrator 2s ease;
    -webkit-animation: Illustrator 2s ease;
}
.AutoCAD {
    background: #3e9eda;
    width: 50%;
    -moz-animation: Illustrator 2s ease;
    -webkit-animation: Illustrator 2s ease;
}
.VectorWorks{
    background: #3e9eda;
    width: 70%;
    -moz-animation: Illustrator 2s ease;
    -webkit-animation: Illustrator 2s ease;
}
/*soft skill*/
.Adapt{
    background: #3497b4;
    width: 96%;
}
.ProbSolv{
    background: #3497b4;
    width: 90%;
}
.CritObser{
    background: #3497b4;
    width: 70%;
}
.TeaColl{
    background: #11Abb0;
    width: 90%;
}
.ComSkill{
    background: #11Abb0;
    width: 80%;
}
.Creat{
    background: #985986;
    width: 95%;
}
.Respon{
    background: #985986;
    width: 100%;
}
/*Contact*/
#contact{
    padding-bottom: 20px;
    background-color: white;
}
#ThanksMessage{
    height:33px;
    font-size: 15px;
    padding: 6px;
    font-weight: 500;
    color:white;
    background: #22ABAF;
}
#ERRORMessage{
    height:33px;
    font-size: 15px;
    padding: 6px;
    font-weight: 500;
    color:white;
    background: red;
}
/*Footer*/
footer {
    background: url(../Resources/Svgs/Dots.svg) repeat;
    background-color: #FFFFFF;

    padding: 50px 0;
}
footer p {
    margin: 0;
}

img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}

#DUA{
    position: relative;
    top: 15%;
}
