.cardList{
  padding: 0;
}
.cardList li{
  font-size: 0px;
}

/* ==============================
Owl carousel
============================== */
.owl-demo .owl-item div{
  padding:5px;
}
.owl-demo .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.carouselCard{
  display: block;
  max-width: 500px;
  height: auto;
  margin: auto;
}
.owl-buttons {
  position: static;
}
.owl-prev,
.owl-next {
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 105px;
  height: 105px;
  line-height: 105px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  z-index: 6;
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.owl-prev {
  left: -20px;
}
.owl-next {
  right: -20px;
}
.owl-prev :hover,
.owl-next :hover {
  -webkit-transition: 0 none !important;
  transition: 0 none !important;
}
.owl-prev span,
.owl-next span {
  display: block;
  width: 40px;
  height: 40px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.owl-prev span {
  right: 40px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.owl-next span {
  left: 40px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.owl-carousel:hover .owl-prev {
  opacity: 1;
  left: 5px;
}
.owl-carousel:hover .owl-next {
  opacity: 1;
  right: 5px;
}
.owl-pagination {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  text-align: center;
}
.owl-page {
  display: inline-block;
  padding: 6px 4px;
  position: relative;
}
.owl-page span {
  width: 15px;
  height: 5px;
  display: block;
  background: rgba(255,255,255,0.9);
  position: relative;
  z-index: 1000 !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}
.owl-page:hover span {
  background: #fff;
}
.owl-page.active span {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.8);
  -webkit-transform: scale(1.3333333);
  transform: scale(1.3333333);
}
.team-slider .owl-pagination {
  bottom: 0px;
}
.team-slider .owl-page span {
  border: 1px solid #00b2ca;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
}
.team-slider .owl-page.active span {
  background: #00b2ca;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.owl-high-pagination .owl-pagination {
  left: 40px;
  text-align: left;
}
/**/

/**/
.header-col {
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 40px;
  padding: 30px;
  margin-top: -30px;
}
.headerbox{
  display: inline-block;
  padding: 10px 20px;
  border: 4px solid #0e878b;
}
#resume:hover .headerbox:after{
  position: absolute;
  display: inline-block;
  margin-left: -111px;
  margin-top: -67px;
  padding: 10px 20px;
  color: transparent;
  content: "RESUME";
  border-left : 4px solid #0e878b;
  border-right: 4px solid  #0e878b;
  animation: scales 3s linear infinite;
}
#resume:hover .headerbox:before{
  position: absolute;
  display: inline-block;
  margin-left: -24px;
  margin-top: -10px;
  padding: 10px 20px;
  color: transparent;
  content: "RESUME";
  border-left: 4px solid  #0e878b;
  border-right: 4px solid  #0e878b;
  animation: scales 1.5s linear infinite;
}
#Portfolio:hover .headerbox:after{
  position: absolute;
  display: inline-block;
  margin-left: -142px;
  margin-top: -67px;
  padding: 10px 20px;
  color: transparent;
  content: "PORTFOLIO";
  border-left : 4px solid #0e878b;
  border-right: 4px solid  #0e878b;
  animation: scales 3s linear infinite;
}
#Portfolio:hover .headerbox:before{
  position: absolute;
  display: inline-block;
  margin-left: -24px;
  margin-top: -10px;
  padding: 10px 20px;
  color: transparent;
  content: "PORTFOLIO";
  border-left: 4px solid  #0e878b;
  border-right: 4px solid  #0e878b;
  animation: scales 1.5s linear infinite;
}
@keyframes scales{
  0%{
    transform:  scale(1);
    opacity: 0;
  }
  30%{
    opacity: 0.5;
  }
  50%{
    transform:  scale(1.2);
    opacity: 0.3;
  }
  100%{
    transform:  scale(1.5);
    opacity: 0;
  }
}

#resume:hover .headerbox {
  border-color: #11ABB0;
}

.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(233, 233, 233, 0.4);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

#Jac{
  display: block;
  width: 110px;
  height: 30px
}

/*navigate bar decoration*/
.navbar-custom .navbar-toggle {
  color: gray;
  background-color: rgba(233, 233, 233, 0.3);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  margin-left: 10px;
  margin-top: 10px;
  width: 110px;
  height: 30px;
  background: url(../Media/jac.png) no-repeat center center scroll;
  background-size: 100%;
  padding: 0;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-brand:hover {
  background: url(../Media/jachover2.png) no-repeat center center scroll;
  background-size: 100%;
}
.navbar-custom a {
  color: gray;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: #3497b4;
  outline: none;
  background-color: rgba(233, 233, 233, 0.3);
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  color: #ed5565;
}
.navbar-custom .nav li.active a:hover {
  color: black;
}
a.disable{
  pointer-events: none;
  cursor: default;
}
a.disable span{
  text-decoration: line-through;
}
/*intro decoration*/
#try{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
#intro-bgc{
  width: 100%;
  height: 100%;
  /*background-color: black;*/
  position: relative;
  background : url(../Media/BACK.JPG) no-repeat bottom right scroll;

  width: 100%;
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgba(255,255,255);
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.welcome {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-size: 48px;
  -webkit-font-smoothing: antialiased;
}
.welcome span{
  font-size: 72px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.intro-text {
  border-top: 10px;
  font-size: 10;
  font-family: 'Raleway', sans-serif;
  border-bottom: 20px;
}
.intro-text span,.intro-text2 span {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.intro-text2 {
  border-top: 20px;
  font-size: 10;
  font-family: 'Raleway', sans-serif;
  border-bottom: 20px;
}


/*floating scroll down button*/
#DDA{
  position: relative;
  top: 15%;
}

.circle-border{
  border: 2px solid black;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  padding: 7px 16px;
  border-radius: 100% !important;
}
.btn-circle:hover {
  outline: none;
  color: black;
  background: rgba(255, 255, 255, 0.3);
}

/*About*/
#about{
  background-color: white;
  padding-bottom: 50px;
}

/*Portfolio-Protfolio*/
#Portfolio{

}
.content-section {
  padding-top: 100px;
}

.Portfolio-section {
  width: 100%;
  padding-bottom: 50px;
  color: black;
  background: url(../Media/Dots.svg) repeat center center scroll;
  background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}


.icon{
  width: 80px;
  height: 80px;
}
.ibor{
  margin-top: 20px;
}
#A{
  margin-bottom: 40px;
}
/*Project card dsection*/
.card{

  width: 100%;
  height: 100%;
  margin: auto;

  margin-top: 40px;
  text-align: center;

  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.card-container {
  clear: both;
  position: relative;
  font-size: 40px;
  margin: 0;
}

.card-container .card .card-pic {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.card-container .card .card-pic:hover img {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.card-container .card .card-pic:hover .card-description {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.card-container .card .card-pic img {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.card-container .card .card-pic .card-description {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  padding: 39px 20px 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.card-container .card-left {
  position: relative;
  float: left;
}

.card-container .card-right {
  position: relative;
  float: right;
}

.card-container .card-center {
  position: relative;
  height: auto;
}
.card-description{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.card-description p{
  margin-top: 45px;
  font-size: 10px;
  padding-top: 10px;
  border-top:1px solid black;
}

.projectWidth {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;;
  max-width: 1000px;
  height: inherit;
}



/*Resume section*/
#resume {
  background: white;
  overflow: hidden;
  padding-bottom: 72px;
  padding-top: 90px;
}
.container-res{
  max-width: 800px;
}

#resume h3,
#resume h4,
#resume p
{
  text-align: left;
}

#resume h1 {
  color: #666;
  margin-bottom: 60px;
  letter-spacing: 1px;
  border-color: #11ABB0;
  width: 400px;
}
/*#resume h1:hover {
border-color:  #ed5565;
}*/

#resume h2 {
  font: 700 18px/24px "Open Sans",sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#resume h2 span{
  width: auto;
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #666;
}


#resume .main-col {
  margin-right: 10%;
}

.education{
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
  display: grid;
}

#resume .details {
  font: 16px/24px 'Raleway', serif;
  font-style: italic;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .main-col span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

/*lifestone*/
.leftside{
  float: left;
  width: 20%;
}
.rightside{
  float: right;
  width: 70%;
}
.lifestone {
  margin: 15px auto;
  position: relative;
  max-width: 100%;
}
.linebf:before {
  background: #11ABB0;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 32px;
  width: 2px;
  height: 100%;

  /*transition: background-color 0.5s ease;*/
}
.linebflihuili:before{
  background: #11ABB0;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 32px;
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient(red, #11ABB0,#11ABB0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, #11ABB0,#11ABB0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, #11ABB0,#11ABB0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, #11ABB0,#11ABB0); /* Standard syntax */
}
.linebfloyola:before{
  background: #11ABB0;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 32px;
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient( #11ABB0,red,#11ABB0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #11ABB0,red,#11ABB0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #11ABB0,red,#11ABB0); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #11ABB0,red,#11ABB0); /* Standard syntax */
}
.linebfuw:before{
  background: #11ABB0;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: 0;
  left: 32px;
  width: 2px;
  height: 100%;
  background: -webkit-linear-gradient( #11ABB0,#11ABB0,red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #11ABB0,#11ABB0,red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #11ABB0,#11ABB0,red); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #11ABB0,#11ABB0,red); /* Standard syntax */
}
.lifestone-event {
  list-style:none;
  position: relative;
  padding: 0;
}
.lifestone-event:hover .lifestoneKnotZoomEffect {
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -webkit-transform:scale(1,1);
  transform: scale(1,1);
  background-color: #ed5565;
}
/**/


.lifestoneKnot2 {
  margin: 16px 8px 8px -16px;
  position: absolute;
  border-radius: 8px;
  background: #11ABB0;
  width: 16px;
  height: 16px;
  /*display: inline-block;*/
}

.lifestone-event:hover .lifestoneKnot2:after,
.lifestone-event:hover .lifestoneKnot2:before{
  content: '';
  display: block;
  width: 22px;
  position: absolute;
  margin: -3px 0 0 -3px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  animation: spinny 1s linear infinite;
}

@keyframes spinny{
  0%{
    transform: rotate(0deg) scale(1);
  }
  50%{
    transform: rotate(45deg) scale(1.2);
  }
  100%{
    transform: rotate(360deg) scale(1);
  }
}
/**/
.lifestone-event h3{
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.lifestone-event:hover  h3{
  color: #ed5565;
}

.lifestone-event-info {
  padding: 32px 0 0 32px;
  position: relative;
  top: -32px;
  width: 80%;
}

.lifestone-event-info h3 {
  margin-top: 0;
  font-size: 28px;
}
.lifestone-event-info h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;
}
.lifestone-event-info strong {
  font-weight: 700;
}
.lifestone-event-info p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 20px;
}

.lifestoneKnotZoomEffect {
  -moz-transition: -moz-transform 1s ease-in;
  -o-transition: -o-transform 1s ease-in;
  -webkit-transition: -webkit-transform 1s ease-in;
  transition: transform 0.5s ease-in;
  -moz-transform: scale(2,2);
  -ms-transform: scale(2,2);
  -webkit-transform: scale(2,2);
  transform: scale(2,2);
}

.lifestone-event-block {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 15px;
}
.barMouseDetectArea{
  padding: 30px 0;
}
.lifestone-event:hover .gradient-effect{
  -moz-box-shadow: inset 40em 0 0 0 #ed5565;
  -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
  box-shadow: inset 40em 0 0 0 #ed5565;
}
.barMouseDetectArea:hover .gradient-effect{
  -moz-box-shadow: inset 40em 0 0 0 #ed5565;
  -webkit-box-shadow: inset 40em 0 0 0 #ed5565;
  box-shadow: inset 40em 0 0 0 #ed5565;
}
.gradient-effect{
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;

  -moz-box-shadow: inset 0 0 0 0em #CCC;
  -webkit-box-shadow: inset 0 0 0 0em #CCC ;
  box-shadow: inset 0 0 0 0em #CCC ;
  background: none repeat scroll 0 0 #11ABB0 ;
  box-shadow: 0 0 0 0 #CCC inset;
}

.lifestone-event-underline {
  width:100%;
  height: 4px;
}
.eventTitle{
  color: #373737;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: auto;
  margin: 10px 0;
}
/**/
/*Resume Skills*/
.barstyle {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}
.barstyle .skills {
  margin-top: 36px;
  padding: 0;
  list-style: none;
}
.barstyle li {
  position: relative;
  background: #bdc3c7;
  height: 42px;
  border-radius: 3px;
  overflow: hidden;
}
.barstyle li em {
  color: #fff;
  font: 15px/42px "Open Sans",sans-serif;
  letter-spacing: 2px;
  padding-left: 20px;
  position: relative;
  text-transform: uppercase;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  padding-right: 24px;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px;
  margin:0;
}

/*bar detail styles*/
.Java {
  background: #1abc9c;
  width: 90%;
  -moz-animation: Java 2s ease;
  -webkit-animation: Java 2s ease;
}
.Cpplus {
  background: #1abc9c;
  width: 10%;
  -moz-animation: Cpplus 2s ease;
  -webkit-animation: Cpplus 2s ease;
}
.HtmlCss {
  background: #1abc9c;
  width: 70%;
  -moz-animation: HtmlCss 2s ease;
  -webkit-animation: HtmlCss 2s ease;
}
.Javas {
  background: #1abc9c;
  width: 20%;
  -moz-animation: Javas 2s ease;
  -webkit-animation: Javas 2s ease;
}
.Labview {
  background: #1abc9c;
  width: 80%;
  -moz-animation: Labview 2s ease;
  -webkit-animation: Labview 2s ease;
}
.Photoshop {
  background: #1abc9c;
  width: 50%;
  -moz-animation: Photoshop 2s ease;
  -webkit-animation: Photoshop 2s ease;
}
.Illustrator {
  background: #1abc9c;
  width: 50%;
  -moz-animation: Illustrator 2s ease;
  -webkit-animation: Illustrator 2s ease;
}

/*Contact*/
#contact{
  padding-bottom: 20px;
  background-color: white;
}
/*Footer*/
footer {
  background: url(../Media/Dots.svg) repeat;
  background-color: #FFFFFF;

  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}

#DUA{
  position: relative;
  top: 15%;
}
/*Portfolio*/
#Obj1{
  visibility: hidden;
}

/*Protfolio-Nav*/
.filter {
  padding-left: 0px;
  margin-left: 0px;
}
.listStyleUnderline li {
  display: inline-block;
  margin: 0 10px;
}
.listStyleUnderline li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  font-size: 0.85em;
  padding: 10px 10px;
  letter-spacing: 3px;
  -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
}
.listStyleUnderline li a:hover {
  border-bottom: 1px solid #00b2ca;
}
.listStyleUnderline li.activeL a {
  border-bottom: 1px solid red;
}
/*Portfolio Nav END*/
/*Portfolio info*/
.portfolio-info .info-content {
  background-color: #F0F0F0;
  margin-left: -15px;
  padding: 50px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.info-nav{
  padding: 0px;
  border-bottom: 1px solid gray;
}
.portfolio-info  span.icon-close {
  display: inline-block;
  margin-top: -10px;
  font-size: 24px;
  vertical-align: middle;
}
.in-left{
  text-align: left;
  float: left;
}
.in-middle{
  text-align: center;
}
.in-right{
  float: right;
  text-align: right;
}
.info-details{
  margin-top: 20px;
}
.info-details p{
  text-align: left;
}
.info-font {
  text-align: left;
  font-family: 'Dosis', arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.work-detail {
  text-align: left;
  color: #777;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.work-detail p {
  font-size: 13px;
  padding: 4px 0;
  margin: 0;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.work-detail p:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.info-description::first-letter {
  display: block;
  float: left;
  text-align: left;
  margin: 5px 10px 8px 0;
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.info-footer{
  padding: 0;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid gray;
}
/*Form contact*/
.form-contact input,
.form-contact select {
  margin-top:20px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-left: 7px;
  padding-right: 7px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-contact select {
  font-size: 12px;
}
.form-contact select[multiple] {
  height: auto;
}
.form-contact input:hover,
.form-contact select:hover {
  border-color: rgba(0,0,0,0.5);
}
.form-contact input:focus,
.form-contact select:focus {
  color: #111;
  border-color: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  outline: none;
}
.form-contact input.input-lg,
.form-contact select.input-lg {
  height: 46px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
}
.form-contact input.input-md,
.form-contact select.input-md {
  height: 37px;
  padding-left: 28px;
  padding-right: 13px;
  font-size: 12px;
}
.form-contact input.input-sm,
.form-contact select.input-md {
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-contact textarea {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 400;
  height: 90px;
  width: 100%;
  padding-left: 13px;
  padding-top: 10px;
  padding-right: 13px;
  letter-spacing: 1px;
  color: #777;
  border-color: rgba(0,0,0,0.1);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.form-contact textarea:hover {
  border-color: rgba(0,0,0,0.5);
}
.form-contact textarea:focus {
  color: #111;
  border-color: rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 0 5px rgba(21,21,21,0.3);
  box-shadow: 0 0 5px rgba(21,21,21,0.3);
}
.input-block{
  width: 100%;
}
::-moz-selection { /* Code for Firefox */
  color: #ECEEED;
  background: #11ABB0;
}
::selection {
  color: #ECEEED;
  background: #11ABB0;
}
.btn-sem{
  margin: 20px 0;
  padding: 8px 50px;
  float: right;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  display: inline-block;
  background-color: #4d4d4d;

  color: white;
}
.btn-sem:hover{
  background-color: #373737;
  color:  #e6e6e6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.col-md-6 {
  position: relative;
}
#plp-label:before {
  color: #666;
  content:"\f007";
  font-family: FontAwesome;
  position: absolute;
  top: 29px;
  left: 25px;
}
#company-label:before{
  color: #666;
  content: "\f0f7";
  font-family: FontAwesome;
  position: absolute;
  top: 29px;
  left: 25px;
}
#email-label:before{
  color: #666;
  content: "\f003";
  font-family: FontAwesome;
  position: absolute;
  top: 29px;
  left: 23px;
}
#tel-label:before{
  color: #666;
  content: "\f095";
  font-family: FontAwesome;
  position: absolute;
  top: 29px;
  left: 25px;
}
